<!--
<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>

<ul *ngFor="let ab of a" [hidden]="a.length==1">
  <li>{{ab}}</li>
</ul>

<h2 *ngIf="a.length==0"></h2>

<button (click)="s()">Click</button>-->

<div class="container">
<h3>Payment Form</h3>

<div class="row">
  <div class="form-group col">
    <label>Payee Name</label>
    <input class="form-control" (input)="onNameChange($event)" />
  </div>

  <div class="col">
    <label><b>Name</b></label>
    <div>
      {{ name | titlecase }}
    </div>
  </div>
</div>

<div class="row">
<div class="form-group col">
  <label>Payee Date</label>
  <input class="form-control" type="date" (input)="onDateChange($event)" />
</div>

<div class="col">
  <label><b>Date</b></label>
  <div>
    {{ date | date:"MMMM d,y"}}
  </div>
</div>
</div>

<div class="row">
<div class="form-group col">
  <label>Amount</label>
  <input class="form-control"  (input)="onAmountChange($event)" />
</div>

<div class="col">
  <label><b>Amount</b></label>
  <div>
    {{ amount | currency:'LKR' }}
  </div>
</div>
</div>

<div class="row">
<div class="form-group col">
  <label>Height</label>
  <input class="form-control"  (input)="onHeightChange($event)" />
</div>

<div class="col">
  <label><b>Height</b></label>
  <div>
    {{ height | number: '1.1-2' }}
  </div>
</div>
</div>

<div class="row">
<div class="form-group col">
  <label>Miles</label>
  <input class="form-control"  (input)="onMilesChange($event)" />
</div>

<div class="col">
  <label><b>Killomters</b></label>
  <div>
    {{ miles | convert:'m' }}
  </div>
</div>
</div>

</div>
